{% extends 'base.html.twig' %}

{% block title %}{{ 'author.edit.head-title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'author.edit.title' | trans }}</h1>

    {{ include('author/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('author_index') }}">
        {{ 'author.edit.return' | trans }}
    </a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
