{% extends 'base.html.twig' %}

{% block title %}{{ 'author.new.head-title' | trans }}{% endblock %}

{% block body %}
    <h1>
        {{ 'author.new.title' | trans }}
    </h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('author_index') }}">
        {{ 'author.new.return' | trans }}
    </a>
{% endblock %}
