{% extends 'base.html.twig' %}

{% block title %}{{ 'author.show.head-title' | trans }}{% endblock %}

{% block body %}
    <h1>{{ 'author.show.title' | trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>
                    {{ 'author.show.id' | trans }}
                </th>
                <td>{{ author.id }}</td>
            </tr>
            <tr>
                <th>{{ 'author.show.name' | trans }}</th>
                <td>{{ author.name }}</td>
            </tr>
            <tr>
                <th>{{ 'author.show.job' | trans }}</th>
                <td>{{ author.job }}</td>
            </tr>
            <tr>
                <th>{{ 'author.show.birth' | trans }}</th>
                <td>{{ author.birth ? author.birth|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('author_index') }}">
        {{ 'author.show.index' | trans }}
    </a>

    <a href="{{ path('author_edit', {'id': author.id}) }}">
        {{ 'author.show.edit' | trans }}
    </a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
