{% extends 'base.html.twig' %}

{% block title %}{{ 'home.head-title' | trans }}{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>{{ 'home.index.title' | trans }}</h1>
        <div>
            <a href="{{ path('article') }}">
                {{ 'home.index.lien1' | trans }}
            </a>
        </div>
        <div>
            <a href="{{ path('article_new') }}">
                {{ 'home.index.lien2' | trans }}
            </a>
        </div>



    </div>

{% endblock %}
