{% extends 'base.html.twig' %}

{% block title %}{{ 'article.create.head-title' | trans }}{% endblock %}

{% block body %}

    {{ form_start(create_form) }}
    {{ form_widget(create_form) }}
    <div>
        <a href="{{ path('author_new') }}">
            {{ 'article.create.add' | trans }}
        </a>
    </div>

    <input type="submit" value="{{ 'article.create.save' | trans }}">

    {{ form_end(create_form) }}
{% endblock %}
