{% extends 'base.html.twig' %}

{% block title %}{{ 'article.index.head-title' | trans }}{% endblock %}

{% block body %}
    <a href="{{ path('article_new') }}">
        {{ 'home.index.lien2' | trans }}
    </a>
    <div>
        {{ congratulate }}
    </div>
    {% for article in articles %}
        <div class="article">
            <h2>
                <a href="{{ path('article_show', {id: article.id}) }}">{{ article.title }}</a>
            </h2>
            <p>
                {{ article.creation | date('d/m/Y') }}
                ({{ 'article.index.maj' | trans }} : {{ article.lastUpdate | date('d/m/Y') }})
            </p>
            <p>{{ article.body }}</p>
        </div>
    {% endfor %}
{% endblock %}
